@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.SuccessPageCont
{
    font-family: "Poppins", system-ui;

}
.ButtonMain
{
    
    color: black;
    font-family: "Poppins", system-ui;
    
}
.ButtonMain:hover
{

    
}
.GotoBtn
{
    background-color: orange;
    border: 2px solid orange;
    outline: 2px solid orange;
    transition: all 0.4s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
}
.GotoBtn:hover
{
    border: 2px solid rgb(234, 183, 146);
    outline: 2px solid rgb(234, 183, 146);
    background-color: rgb(229, 183, 98);
    scale: 0.9;
}
.RegisterMoreBtn
{
    background-color: rgb(65, 65, 65);
    border: 2px solid orange;
    outline: 2px solid orange;
    transition: all 0.4s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}
.RegisterMoreBtn:hover
{
    border: 2px solid rgb(234, 183, 146);
    outline: 2px solid rgb(234, 183, 146);
    background-color: rgb(85, 138, 231);
    scale: 0.9;
}